
.cyberpunk-service-tile {
  display: inline-block;
  padding: 10px 30px;
  color: #ff0000;
  text-transform: uppercase;
  font-family: "Tomorrow", sans-serif;
  max-width: 50%;
  min-width: 50%;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  text-wrap: wrap;
  border: 2px solid #ff0000;
  border-radius: 5px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transform: skew(-15deg);
}

.cyberpunk-service-tile::before {
  border: 2px solid #800000; /* Outer border (dark red) */
  border-radius: 20px 0px 0px 20px; /* Top-left and bottom-right rounded corners */
  z-index: -1; /* Place behind the button */
}

.cyberpunk-service-tile:hover {
  color: #ffffff; /* Optional hover effect */
  background-color: #ff0000;
}
