.cyberpunk-search {
  display: flex;
  align-items: center;
  border: 2px solid #ff0000;
  color: #ffffff;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  width: 29em;
  height: 2.5em;
  padding: 1.2em;
}

.cyberpunk-search-input {
  color: #ffffff;
  outline: none;
  background-color: transparent;
}
