.portfolio-header {
  font-size: 1.15em;
}

.portfolio-header div,
.portfolio-header nav {
  background: inherit;
  color: #FFFFFF;
}

.portfolio-header a{
  font-size: 1.6rem;
}

.portfolio-header a:hover{
  text-decoration: underline;
  text-decoration-color: #c60506;
  text-decoration-thickness: 2px;
}
