.cyberpunk-title {
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  color: #ff0000;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 0px 0px 12px #ff0000;
  word-break: break-word;
  min-width: 450px;
  line-height: 1em;
}
