body {
  color: #ffffff;
  background: linear-gradient(180deg, #0b0b0b 80%, #400000 100%, #600000 200%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}
